 body {
    margin: 0;
    background-color: antiquewhite;
 }
 #clock-contanier {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
 }
 #clock {
    font-family: monospace;
    font-size: 6.5rem;
    font-weight: bold;
    text-align: center;
    background-color: hsla(0, 6%, 71%, 0.671);
    color: white;
 }